


* {
    padding: 0px;
    margin: 0px;
}

#chart_div {
    width: 0px !important;
    height: 300px !important;
    position: absolute !important;
    left: 110%;
    top: 0%;

}



body {
    background: #0F0F0F;
    color: white;
    margin-bottom: 100px;


}
header {
    background-color: #202024;
    max-width: 100%;
    min-height: 10vh;
    padding: 10px 0;
    margin-bottom: 40px;
    box-shadow: 0px 3px 1px 1px #00000040;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #202024;
}


div #main {

    max-width: 750.27px;
    max-height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
    gap: 62px;
    position: relative;
    
}

h1#title {
    color: white;


}

#div-title {
    text-align: center;
    margin: auto;
}

#form {
    font-family: Mulish;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
form label {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

form input, select {
    width: 300px;
    height: 30px;
    padding: 8 12 8 12;
    border-radius: 5%;  
    border: 2 #EDEFF0;   
    justify-content: space-between;
    background: #202024;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #7C7C8A;

}
form select {
    width: 310px;

}
form input:hover,
form select:hover{
    border: 2px solid #9BE1FB;
}

form select:active {
    background-color: #0F0F0F;
}


#calc-button {
    background-color: #9BE1FB;
    color: #202024;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 242px;
    height: 40px;
    border-radius: 5%;  
    position: absolute; 
    top: 107%; 
    left: 396.14px; 

}
#calc-button:hover{
    cursor: pointer;
}
#calc-button:active{
    background-color: #7cb3ca;
}
#clear-button{
    background-color: #7C7C8A;

    color: #ffffff;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 242px;
    height: 40px;
    border-radius: 5%;  
    position: absolute; 
    top: 107%; 
    left: 142.14px; 

}
#clear-button:hover{
    cursor: pointer;
    border: 2px solid #9BE1FB;
}
#clear-button:active{
    background-color: #484850;
}

#result-main {
    background: #202024;
    max-width: 100%;
    height: 575px;
    top: 182px;
    left: 324px;
    padding: 8px;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid #9BE1FB;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result-content {
    
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 5px;
}


h2 {
    margin-bottom: 10px;
    display: flex;
    color: #9BE1FB;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap



}
h3#alert{
    padding: 5px;

}
p#imc {
    padding-top: 10px;
    padding-bottom: 10px;
}

 p#decription {
    margin: 5px

}

#imc-result {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250.45px;
    height: 80px;
    border-radius: 3.821317672729492;
    border: 1px solid #000000;
    margin-bottom: 10px;

}

#imc-table{
    position: static;
    min-width: 200px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    top: 0%;
    right: -50%;
    margin-top: 5px;
    gap:7.64px;
    text-align: center;


}
#p-table {

    height: 57px;
    padding-top: 15px;


}
.imc-color{ 
    height: 27.51px;
    border-radius: 3.821317672729492%  ; 
    font-family: Mulish;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#description{
    text-align: justify;
}

#abaixo{
    background-color: #6FB4EA;
    
}
#normal{
    background-color: #7EC395;
    
}
#sobrepeso{
    background-color: #FADD00;
    
}
#obesidade1{
    background-color: #FFA728;
    
}
#obesidade2{
    background-color:#FC6E3E;
    
}
#obesidade3{
    background-color:#DE4D55;
    
}
#imc{
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}
#sm-p{
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    font-size: 28px;
    margin: auto;
    width: 40%;
    
}
#sn-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.sn-content{
    text-align: center;
}

section {
    width: 85%;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid white;
    margin-bottom: 25px;
}


th {
    background-color: #202024;
    color: #fff;
    padding: 10px;
    text-align: left;
    border: 2px solid white;
}


td {
    padding: 10px;
    border: 2px solid white;
    background-color: #38383C;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #202024;
}

tr:nth-child(odd) {
    background-color: #38383C;
}

/* Estilo genérico para a paginação */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination > li {
    margin: 0 5px;
}

.pagination > li > a,
.pagination > li > span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pagination > .active > a,
.pagination > .active > span {
    background-color: #007bff;
    color: #fff;
}





@media only screen and (max-width: 1700px){

    #chart_div {

        top: 150%;
        left: 15%;
        transform: translate(-50%, -50%);

    } 
    #content {
        margin-left: auto;
        margin: auto;
    }


}

@media only screen and (max-width: 1450px){

    #chart_div {
        top: 150%;
        left: 15%;
        transform: translate(-50%, -50%);

    } 




}


@media only screen and (max-width: 900px){
    *{
        padding: 0;
    }
    #chart_div {
        top: 220%;
        left: -15%;
    }

    #main {
        flex-direction: column;
        padding: 0;
        margin: 0px;
        width: 400px;


    }
    header {
        width: 100%;
    }
    form,
    #result-main {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }
    #calc-button,
    #clear-button {
        top: 85%;
        width: 100px;
        margin-top: 10px;
    }


    #calc-button {
        left: 230px;
        

    }
    #clear-button {
        left: 114.14px;
    }
    nav ul li a {

        padding: 10px 10px;
    }
    

    


}
@media only screen and (max-width: 800px){
    *{
        padding: 0;
    }
    #chart_div {
        left: -20%;
        position: static;
        margin-left: 10%;
    }
    #sm-p{
        width: 80%;
        
    }
}
@media only screen and (max-width: 450px){

    #main {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 350px;


    }

    #clear-button {
        top: 86%;
        left: 91.14px;
    
        }
    #calc-button{
        top: 86%;
        left: 207px;
        }

    nav {
        margin: auto;
        padding-top: 20px;
    }
    nav ul li a {

        padding: 5px 5px;
        font-size: 12px;
    }
    #sm-p{
        font-size: 20px;
        width: 80%;
        
    }

    h1#title {
        padding-bottom: 10px;
        padding-top: 20px;
        font-size: 26px;
    }

}
@media only screen and (max-width: 360px){

    #main {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 320px;


    }
    #chart_div {
        margin-left:10%;
    }

}

@media only screen and (max-width: 280px){
    p {
        font-size: 12px;
    }
    #main {

        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 280px;


    }

    form label, form select, form input {
        font-size: 12px;
        width: 250px;

    }
    #clear-button {
        top: 84%;
        left: 30.14px;
    }
    #calc-button {
        top: 84%;
        left: 139px;
    }
    nav ul li a {
        font-size: 9px;
        padding: 5px;
    }
    h1 {
        font-size: 20px;
    }
    #result-content {
        padding: 0px;
    }
    #imc-result {
        margin: auto;
        width: 184.45px;
        height: 110px;
        
    }
    p#imc {
        margin: 5px;
    }
    h2 {
        font-size: 20px;
    }
    h3#alert {
        font-size: 16px;
        
    }
    form {
        width: 250px;
        padding: 0px;
    }
    #content {
        width: 280px;
        padding: 0px;
    }


}









